# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
logs/

# Temp files
*.tmp
*.temp
*.swp
*.swo
*~

# IDE
.vscode/
.idea/

# Environment files
.env
.env.*

# Dependency dirs
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Build outputs
dist/
build/
out/
